body {
    font-family: sans-serif;
    background-color: #f0f0f0; /* Ibara ry'inyuma ry'urupapuro */
    color: #333; /* Ibara ry'inyandiko */
    text-align: center; /* Inyandiko yose ijye hagati */
    padding: 50px;
}

header {
    background-color: #4CAF50; /* Icyatsi */
    color: white;
    padding: 20px;
    border-radius: 8px;
}

footer {
    margin-top: 40px;
    font-size: 0.8em;
    color: #777;
}
